
{% extends "base.html" %}
{% load static %}
{% block title %}Page Nounou{% endblock %}
{% block article %}
<div id="PageNounou">
<div class="NounouElem">
	<img src={% static "img/BonneNuitLesPetitsCouleur.jpg" alt="imageNounou" %}/>
</div>
<div class="NounouElem">
   <h1>Baby-stting</h1>
   <p>Afin que vous puissiez tous profitez jusqu'au bout de la soirée, nous allons solliciter des baby-sitters. Une chambre sera réservée dans le château pour garder vos petits bouts.</p> 
   <p>Merci de nous indiquer si vous venez avec eux afin que nous puissions prévoir le nombre adequat de nounous.</p>
   </div>
   </div>
{% endblock %}

